.ContactForm {
    width: 100%;
}

.ContactForm__label {
    display: flex;
    flex-direction: column;
}

.ContactForm__label-text {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.ContactForm__input,
.ContactForm__textarea {
    border: 1px solid var(--primary-border);
    font-family: var(--mono-font);
    font-size: inherit;
    padding: 0.5rem;
}

.ContactForm__input {
    max-width: 50%;
}

.ContactForm__textarea {
    min-height: 5rem;
    resize: vertical;
}

.ContactForm__button-container {
    display: flex;
    justify-content: flex-end;
}

.ContactForm__button {
    border: 1px solid var(--gray200);
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
}

.ContactForm__button + .ContactForm__button {
    margin-left: 1rem;
}

.ContactForm__button--primary {
    background: var(--primary-color);
    border-color: var(--primary-color);
    color: white;
}

.ContactForm__button--secondary {
    border-color: var(--primary-color);
    color: var(--primary-color);
}

@media screen and (max-width: 832px) {
    .ContactForm__input, .ContactForm__textarea {
        max-width: initial;
    }

    .ContactForm__button {
        flex: 1;
    }
}