.Footer {
    background: var(--gray100);
}

.Footer .Responsive.-footer {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}

.Footer ._attribution,
.Footer ._sdg {
    margin: 0;
}