.PostPreview {
    margin-bottom: 2rem;
}

.PostPreview ._header {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.PostPreview ._title {
    margin-bottom: 0;
}

@media screen and (max-width: 800px) {
    .PostPreview {
        margin-bottom: 3rem;
    }

    .PostPreview ._header {
        align-items: flex-start;
        flex-direction: column-reverse;
    }

    /* first- as opposed to last-child because the order has been reversed above */
    .PostPreview ._header > *:not(:first-child) {
        margin: 0 0 1rem;
    }
}